#prof-pic {
	width: 200px;
	height: 200px;
	display: block;
	margin: 0 auto;
}

.logo-img {
	width: 40px;
	height: 40px;
}

#header {
	text-align: center;
	padding:30px 0px 10px 0px;
}

#header h1 {
	font-size: 64px;
	margin: 0px;

}

body {
	margin: 0px;
	background: #e5f2fb;
	font-size: 20px;
}

#subhead {
	text-align: center;
}

.column {
	width: 50%;
	text-align: left;
	margin: 0 auto;
}

.large_column {
	width: 75%;
	text-align: left;
	margin: 0 auto;
}

.cs-class {
	font-weight: bold;
	color: red;
}

#interests p{
	text-decoration: underline;
}

#footer {
	text-align: center;
	margin-top: 20px;
}

#navbar {
	text-align: justify;
	min-width: 500px;
	border-bottom: 1px solid black;
	border-top: 1px solid black;
	padding: 20px 40px 0px 40px;
}

#navbar:after {
    content: '';
    display: inline-block;
    width: 100%;
}
#navbar li {
    display: inline-block;
}

#navbar a{
	color: black;
	font-size: 20px;
	text-decoration: none;
}

#fun_facts li{	font-size: 36px;
	font-family: cursive;
}

#message_space {
	font-size: 48px;
	color: black;
	text-align: center;
}

#img{
	display: block;
	margin: 0 auto;
	width: auto;
	height: 300px;
	max-width: 300px;
}

#img_pug {
	max-width: 100%;
	max-height: 100%;
	width: auto;
	height: auto;
	display: block;
	margin: auto;
}

#big_img{
	display: block;
	margin: 0 auto;
	height: 500px;
	width: auto;
}


#nalinda {
	background: #89cff0;
	font-family: cursive;
}
#resume p{
	font-weight: bold;
}

.block_large {
	width:10px;
}

.block_small {
	width: 90%;
}

tr.border_bottom td {
	border-bottom:1pt solid black;
	border-top:1pt solid black;
	
}
/****** For two column information ******/
.flex-container {
	display: flex;
	border-bottom:1pt solid black;
}

.video {
	width: 560px;
	margin: auto auto;
}

.flex-description {
	flex-grow: 1;
	padding: 20px 40px;
}
